# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/
.turbo/
coverage/

# env
.env
.env.local
.env.*.local

# clarinet
.clarinet/
settings/Mainnet.toml
settings/Testnet.toml

# editors
.vscode/
.idea/

# misc
.DS_Store
*.pem
*.tsbuildinfo
*.log
*.tgz
.eslintcache
tmp/
[{]contracts,src/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
